html{

}
.header{
  background-image: url(bg2.jpeg);
  width: 100%;
  height: -webkit-fill-available;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0  !important;
  left: 0 !important;

}
h1{
  color: #9F534E;
  text-align: center;
  font-size: 40pt;
  font-family: 'Merriweather', serif;

}
select{
  font-size: 12pt;
  margin-left: 14px;
  width: 32%;
  padding: 7px;
  border-radius: 5px;

}
option{
  font-size: 10pt;
}

#addbtn{
  margin-left: 38%;
  color: #9F534E;
  font-size: 18pt;

}

.formadd{
}
.formadd input{
  margin: 7px;
  border-radius: 5px;
  padding: 7px;
  color: #9f534e;
}
.formadd textarea{
  margin-top: 7px;
  border-radius: 5px;


}
.formadd label{
  margin: 7px;
  color: #E4E8E8;
  font-weight: bold;
  font-size: 14pt;

}

/*APP DRAWER CSS*/

.app_drawer {
    position: absolute; /*Takes element out of the flow of the page */
    /* top: 0;
    left: 0; */
    z-index: 1;
    transition: all 0.5s ease-in;
    box-shadow: 1px 0 3px grey;

    transform:translate(45px,1px);
    padding: 10px;
    background-color: #9f534e;
    width: 70%;
    border-radius: 5px;
    visibility: hidden;
    color: red;
}

.app_drawer__title {
    margin: 0.5em;
}

.app_drawer__button {
    position: absolute;
    z-index: 15;
    top: 8%;
    left: 2em;
    border-radius: 50%;
    border: 12px solid #9F534E;
    background-color:#E4E8E8;
    width: 4em;
    height: 4em;
    transition: all 0.5s ease-in;
    font-size: 10pt;
    color: #9f534e;

}

.app_drawer--visible {
    /* transform: translateX(0); */
    visibility: visible;
    transform:translate(45px,1px);

}

.app_drawer__button--visible{
    transform: scale(0.8);

}
ul{
  list-style: none;
}
.recipes{
  display: inline-flex;
}
.recipe{
  border: solid;
  float: left;
  margin: 10px;
  padding: 5px;
  text-align: center;
  background-color: #e5e8e7;
  border-color : #9F534E;
  font-family: 'Merriweather', serif;
  color: #9F534E;
  font-weight: bold;
  width: 130px;
  height: 180px;

}

.recipe img{
  border-radius: 5px;
  padding-top: 5px;
}
#recipelink{
  margin-left: 80%;
  margin-top: 10%;
}
li a{
text-decoration: none;
color: #9F534E;
}

.steps{
  float: right;
  margin-top: -20%;
}
