<link href="/style.css" rel="stylesheet">
    <div class="header">
      <h1>{{title}}</h1>
      <button type="button" name="button" class="app_drawer__button" id="movebutton"> <i class="fas fa-plus-circle"></i></button>
      <div class="app_drawer" id="adddiv">
        <form class="formadd" action="/recipe/add" method="post">
          <label for="name">Name:</label> <input type="text" name="name" value="" placeholder="Recipe Name" required> <br>
          <label for="type">Type:</label>
          <select name="type" required>
              <option value="true">Vegetarian</option>
              <option value="false">Non Vegetarian</option>
          </select> <br>
          <label for="recipe">Recipe Steps:</label> <textarea name="recipe" rows="6" cols="33" placeholder="Recipe Steps" required></textarea> <br>
          <label for="img_url">Image</label> <input type="text" name="imgUrl" value="" required> <br>
          <input type="submit"  value="Add Recipe" id="addbtn"> <br>
        </form>
      </div>
      <hr>

      <div class="recipes">
        <ul>
          {{#each recipes}}
          <div class="recipe">
            <li> <a href={{getLink id}}>  {{name}} </a></li>
            <li><img width="120px" height="120px" src={{img_url}}> </li>
            <br>
          </div>
          {{/each}}
        </ul>

      </div>
    </div>
